{% extends 'base.html' %}

{% block head_title %}
Profile Edit | eFarm
{% endblock %}

{% block title %}
Profile Edit | eFarm
{% endblock %}

{% block content %}
<form class="auth-container" method="post">{% csrf_token %}
  <ul>
    <li>あなたの他の個人情報と似ているパスワードにはできません。</li>
    <li>パスワードは最低 8 文字以上必要です。</li>
    <li>よく使われるパスワードにはできません。</li>
    <li>数字だけのパスワードにはできません。</li>
  </ul>
  {% for f in form %}
  <div class="profile-form">
    <span class="profile-label">{{ f.label }} :</span>
    <span class="profile-content">{{ f }}</span>
  </div>
  {% endfor %}
  <input class="login-input" type="submit" value="Change Password" />
</form>
{% endblock %}